<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <div style="margin: 1em 0 1em 0;"><%= image_tag(@image.image_url) %> </div>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
  </div>
  <h5><%=@time.strftime(" %A, %m, %d")%></h5>
<hr>
  <p>Summary: <%=@weather.description%></p>
  <p>Current temperature: <%=@weather.temp%> F</p>
  <p>Max temperature: <%=@weather.temp_max%>F</p>
  <p>Min temperature: <%=@weather.temp_min%>F</p>
<hr>
  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
